:root {
    --player1-color: rgb(247, 120, 2);
    --player2-color: rgb(181, 17, 247);
}
body {
    /* background-color: rgb(240, 242, 243); */
    background-color: black;
    color: white;
    font-family: Raleway, sans-serif;
}

header {
    text-align: center;
    padding: 1rem;
    height: 15vh;
}

h1 {
    font-family: inherit;
    font-size: 4em;
    color: white;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

#players-menu {
    max-width: 400px;
    display: flex;
    font-size: 1.8rem;
    justify-content: space-between;
    

}
.player {
    padding: 1rem;

}

#gameboard {
    display: grid;
    width: 100vw;
    height: 100vw;
    max-width: 400px;
    max-height: 400px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 1.5rem;
    position: relative;
    grid-gap: 0.2rem;
    background-color: white;
    
}

.cell {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    background-color: black;
}

.styling1 {
    
    color: var(--player1-color);

}

.styling2{
    color: var(--player2-color);
}

.menu {
    margin: 1.5rem auto;
    width: 20rem;
    display: flex;
    justify-content: space-between;
}
    
.btn {
  padding: 0 1rem;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
  font-size: 1.8em;
 
}
.btn:hover {
   
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, var(--player1-color), var(--player2-color));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    
}

.sts {
    margin: 1.5rem;
}

.active-settings {
   
    width: 100vw; 
    height: 100vh;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
}

#settings-form {
    width: 50vw;
    border: 2px solid white;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    padding: 3em;
    margin: 0 auto;
}


.hidden {
    display: none;
}

/* Hide the checkboxes */
input[type='checkbox'] { display:none; }

}
/* Styling for labels when corresponding checkbox is checked */
input[type='checkbox']:checked + label {
    color: red;
    
}
